<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <style>
        .divStyleOne{
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 250px;
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
        }
    </style>
</head>
<body>

    {{>header}}
    <div class="divStyleOne">{{message}}</div>
    {{>footer}}

</body>
</html>