<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: #DCEDFF;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  .styleOne {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
    margin-top: 7px;
  }
</style>


<footer class="footer">
  <div class="styleOne">© Created by {{name}} </div>
</footer>
